﻿
<div class="col-md-12">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Available Buildings</div>
            <div class="panel-body">
                @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.CteisViewModels.vmBuilding>()
                        .Name("UserBuildingList")
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Custom(" ").Click("SelectBuilding").HtmlAttributes(new { @class = "fa fa-building" });
                            }).Width(88);
                            columns.Bound(p => p.BuildingName).Title("Buliding Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                            columns.Bound(p => p.BuildingNumber).Hidden().Title("BuildingNumber").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.Cepd).Title("Cepd").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.FiscalAgency).Title("Fiscal Agency").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.Oano).Title("OaNo").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.District).Title("District").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.Obno).Title("ObNo").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.Status).Title("Status").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                        })
                        .HtmlAttributes(new { style = "height: 550px;" })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                        .Pageable()
                        .Sortable()
                        .Selectable()
                        .Scrollable(scr => scr.Height(830))
                        .Filterable()
                        .AutoBind(true)
                        .Excel(excel => excel
                            .AllPages(true)
                        )
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model => model.Id(p => p.BuildingNumber))
                            .Read(read => read.Action("GetUserBuildingList", "Courses"))
                            .PageSize(10)
                            .ServerOperation(false)
                            ).Resizable(resize => resize.Columns(true)))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Avilable Programs</div>
            <div class="panel-body">
                @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.CteisViewModels.vmProgram>()
                        .Name("ProgramsList")
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Custom(" ").Click("SelectProgram").HtmlAttributes(new { @class = "fa fa-book" });
                            }).Width(88);
                            columns.Bound(p => p.Psn).Title("Psn").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                            columns.Bound(p => p.ProgramName).Title("Prog Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                            columns.Bound(p => p.ProgramType).Title("Prog Type").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(90);
                            columns.Bound(p => p.Psn).Hidden().Title("Psn").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.Cipcode).Title("Cip Code").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.Cepdno).Title("CEPD").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.FaNo).Title("FANo").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.OaNo).Title("OANo").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                            columns.Bound(p => p.ObNo).Title("OBNo").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(88);
                        })
                        //.HtmlAttributes(new { style = "height: 550px;" })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                        .Pageable()
                        .Sortable()
                        .Selectable()
                        .Scrollable(scr => scr.Height(830))
                        .Filterable()
                        .AutoBind(false)
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model => model.Id(p => p.Psn))
                            .Read(read => read.Action("GetProgramList", "Courses").Data("ProgramListGridRead"))
                            .PageSize(10)
                            .ServerOperation(false)
                            ).Resizable(resize => resize.Columns(true)))
            </div>
        </div>
    </div>
</div>

<script>

    

</script>