﻿
@{
    ViewData["Title"] = "Manage Courses";
}
<h1 class="text-center">Manage Courses (Add, Edit and Review records)</h1>

           <div>
               <ul id="Tabs" class="nav nav-tabs">
                   <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#home">Courses</a></li>
                   <li><a data-toggle="tab" class="nav_link" data_id="2" href="#menu1">Place Holder</a></li>
                   <li><a data-toggle="tab" class="nav_link" data_id="3" hidden href="#menu2">Place Holder</a></li>
               </ul>

               <div class="tab-content">
                   <div id="home" class="tab-pane fade in active">
                       <br />
                       <div class="row">
                           @if (User.IsInRole("OCTPUser"))
                           {
                               <div class="col-md-12">
                                   <div class="panel panel-default">
                                       <div class="panel-body">
                                           <div class="col-md-4">
                                               @(Html.Kendo().DropDownList()
                        .Name("OCTECEPDUserSelect")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select CEPD...")
                        .DataTextField("Cepdno")
                        .DataValueField("Cepdno")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetCepdList", "Courses");
                        });
                    }))
                                           </div>
                                           <div class="col-md-4">
                                               @(Html.Kendo().DropDownList()
                        .Name("OCTEFiscalDropDownList")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select Fiscal...")
                        .DataTextField("DistrictName")
                        .DataValueField("Fano")
                        .Events(e => e
                        .Change("OCTEDropDownList_select"))
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetFiscalsAndFanoByCEPD", "Courses")
                                    .Data("filterFiscal");
                            })
                            .ServerFiltering(true);
                        })
                        .Enable(false)
                        .AutoBind(false)
                        .CascadeFrom("OCTECEPDUserSelect")
                                               )
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           }

                           @if (User.IsInRole("CTEISFunding"))
                           {
                               <div class="col-md-12">
                                   <div class="panel panel-default">
                                       <div class="panel-body">
                                           <div class="row">
                                               <div class="col-md-4">
                                                       <input id="CreateCourseView" type="submit" value="Add Course" class="btn btn-success" />
                                               </div>
                                               <div class="col-md-4">
                                                   <p>@(Html.Kendo().RadioButton().Name("ViewActiveCourses").Checked(true).Value("OnlyActive").HtmlAttributes(new { @name = "Active" }).Label("View Active Courses"))</p>
                                               </div>
                                               <div class="col-md-4">
                                                   <p>@(Html.Kendo().RadioButton().Name("ViewAllCourses").Checked(false).Value("All").HtmlAttributes(new { @name = "Active" }).Label("View All Courses"))</p>
                                               </div>
                                           </div>
                                           <div class="row">
                                               <br />
                                               <div class="col-md-12">
                                                   @(Html.Kendo().DropDownList()
                        .Name("FABuildingList")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select District...")
                        .DataTextField("DistrictName")
                        .DataValueField("Fano")
                        .Events(e => e
                        .Change("FABuilding_Select"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("UserBuildingFiscalList", "Courses");
                        });
                    }))
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           }

                           <div id="GridContainer" class="col-md-12">
                               @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.CteisViewModels.vmCourse>()
                        .Name("CourseGrid")
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Custom(" ").Click("updateCourse").HtmlAttributes(new { @class = "fa fa-book" });
                            }).Width(90);
                            columns.Bound(p => p.CourseId).Hidden().Title("CourseId").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(125);
                            columns.Bound(p => p.CourseSectionCode).Title("CSC").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(120);
                            columns.Bound(p => p.CourseName).Title("Course Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(275);
                            columns.Bound(p => p.Psn).Title("PSN").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.Cipcode).Title("CipCode").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(120);
                            columns.Bound(p => p.ObNo).Title("Bldg").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(120);
                            columns.Bound(p => p.RoomNumber).Title("Rm").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.CourseHour).Title("Hr").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.CrsBeginDate).Title("Class Start").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).ClientTemplate("#= kendo.toString(kendo.parseDate(CrsBeginDate), 'dd/MM/yyyy') #").Width(125);
                            columns.Bound(p => p.CrsEndDate).Title("Class End").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).ClientTemplate("#= kendo.toString(kendo.parseDate(CrsEndDate), 'dd/MM/yyyy') #").Width(125);
                            columns.Bound(p => p.CourseHour).Title("Staff").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.CourseActive).Title("Active").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100).ClientTemplate("<input disabled type='checkbox' #= CourseActive ? checked='checked' :'' # />");
                        })
                        .ToolBar(tools => tools.Excel())
                        .HtmlAttributes(new { style = "height: 550px;" })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                        .Pageable()
                        .Sortable()
                        .Selectable()
                        .Excel(excel => excel
                            .FileName("Course List.xlsx")
                            .Filterable(true)
                        )
                        .Scrollable(scr => scr.Height(830))
                        .Filterable()
                        .AutoBind(false)
                        .Excel(excel => excel
                            .AllPages(true)
                        )
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model => model.Id(p => p.CourseId))
                            .Read(read => read.Action("UpdateGrid", "Courses").Data("GridRead"))
                            .PageSize(20)
                            .ServerOperation(false)
                            ).Resizable(resize => resize.Columns(true)))
                           </div>
                       </div>
                       </div>
                       <div id="menu1" class="tab-pane fade">

                       </div>
                       <div id="menu2" class="tab-pane fade">

                       </div>
                   </div>
               </div>


<div id="mainModal" class="modal fade" aria-labeledby="mainModalTitle" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="mainModalBody" class="modal-body">
                <strong></strong> <div id="vailmessage"></div>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="AddNewCourseModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Course</h4>
            </div>
                <div id="AddCourseView"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        var Fiscal;
        var OCT = false;
        var BuildingNumber;

        //$('#Tabs a[href="#menu2"]').hide();
        //$('#Tabs a[href="#menu1"]').hide();

        //$('#Tabs a[href="#home"]').click(function () {
        //    $('#UpdateStudentTab').hide();
        //    $('#UpdateStudentTab').html(null);

        //    $('#CreateStudentTab').hide();
        //    $('#CreateStudentTab').html(null);

        //    $('#Tabs a[href="#menu2"]').hide();
        //    $('#Tabs a[href="#menu1"]').hide();

        //})
    })

    function filterFiscal() {
        return {
            CEPD: $("#OCTECEPDUserSelect").val()
        };
    }

    function filterBuilding() {
        return {
            FANO: $("#OCTEFiscalDropDownList").val()
        };
    }

    function OCTEDropDownList_select(e) {
        OCT = true;
        Fiscal = $("#OCTEFiscalDropDownList").val();
        $('#CourseGrid').data('kendoGrid').dataSource.read();
    }

    function FABuilding_Select(e) {
        OCT = false;
        Fiscal = $("#FABuildingList").val();
        $('#CourseGrid').data('kendoGrid').dataSource.read();
    }

    function GridRead() {
        return {
            FANO: Fiscal,
            Active: $("input[name='Active']:checked").val(),
            OCTE: OCT
        };

    }

    $(':radio[name=Active]').change(function () {
        OCT = false;
        $('#CourseGrid').data('kendoGrid').dataSource.read();
    });

    $("#CreateCourseView").click(function (e) {
        //e.preventDefault();
        $.ajax({
            url: "/Courses/GetManageCoursePartial",
            dataType: 'html',
            success: function (data) {
                $('#AddCourseView').html(data);
                $('#AddNewCourseModal').modal('show');
            },
        });
    });

    function updateCourse(e) {
        //e.preventDefault();

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //$.ajax({
        //    url: "/Students/CreateStudentView",
        //    data: { StudentUIC: dataItem.StudentUIC },
        //    dataType: 'html',
        //    success: function (data) {
        //        $('#Tabs a[href="#menu1"]').hide();
        //        $('#Tabs a[href="#menu2"]').show();
        //        $('#CreateStudentTab').hide();
        //        $('#CreateStudentTab').html(null);
        //        $('#Tabs a[href="#menu2"]').tab('show');
        //        $('#UpdateStudentTab').show();
        //        $('#UpdateStudentTab').html(data);

        //        $('#StudentGrid').data('kendoGrid').dataSource.read();


        //    },
        //});
    }

    function SelectBuilding(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //alert(dataItem.BuildingNumber);
        //ProgramListGridRead(dataItem.BuildingNumber);
        BuildingNumber = dataItem.BuildingNumber;
        $('#ProgramsList').data('kendoGrid').dataSource.read();
    }

    function ProgramListGridRead() {
        return {
            BuildingNum: BuildingNumber
        };
        
    }

    function SelectProgram(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        alert(dataItem.Psn);
    }
</script>