@model CteisCore.Bl.ViewModels.CteisViewModels.vmProgram
@{
    ViewData["Title"] = "Program Information";
}

<form id="ProgramForm" data-ajax="true" data-ajax-method="POST" class="form-horizontal">
    <div class="col-md-12">
        <div>
            @if (Model.Psn != 0)
                {
                    <div class="col-md-12">
                        <h4>PSN:  </h4><input asp-for="PSN" maxlength="10" class="form-control ReadOnly" />
                    </div>
                    <div class="col-md-12">
                        <h4>Program Type: <span style="color:red">*</span> </h4>
                        @(Html.Kendo().DropDownList()
                            .Name("ProgramType")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Please Select...")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = " ",
                                    Value = "0"
                                },
                                new SelectListItem() {
                                    Text = "Regular",
                                    Value = "Reg"
                                },
                                new SelectListItem() {
                                    Text = "EMC",
                                    Value = "EMC"
                                },
                                new SelectListItem() {
                                    Text = "LTCS",
                                    Value = "LTCS"
                                },
                                new SelectListItem() {
                                    Text = "Regular Emerging",
                                    Value = "RegE"
                                },
                                new SelectListItem() {
                                    Text = "EMC Emerging",
                                    Value = "EMCE"
                                },
                                new SelectListItem() {
                                    Text = "EMC LCTS",
                                    Value = "EMCL"
                                }
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" }))
                    </div>  @*end of ProgramType*@
                <div class="col-md-12">
                    <h4>CIP Code: <span style="color:red">*</span> </h4>
                    @(Html.Kendo().DropDownList()
                                .Name("CIPCode")
                                .HtmlAttributes(new { style = "width:100%" })
                                .OptionLabel("Select CIP Code...")
                                .DataTextField("CIPCode")
                                .DataValueField("CIPCode")
                                //.Events(e => e
                                //.Select("CEPDSelectList"))
                                .Value(Model.)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetSendingFiscalList", "Students");
                                });
                            })
                            .HtmlAttributes(new { style = "width: 100%" }))
                </div>
                <div class="col-md-12">
                    <h4>CIP Code: <span style="color:red">*</span></h4><input asp-for="ProgramName" maxlength="100" class="form-control ReadOnly" />
                </div>
                <div class="col-md-12">
                    <h4>CEPD: <span style="color:red">*</span></h4>
                    @(Html.Kendo().DropDownList()
                                .Name("CEPD")
                                .HtmlAttributes(new { style = "width:100%" })
                                .OptionLabel("Select CEPD...")
                                .DataTextField("Cepdno")
                                .DataValueField("Cepdno")
                                //.Events(e => e
                                //.Select("CEPDSelectList"))
                                .Value(Model.)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCEPDList", "SystemMaintenance");
                                });
                            })
                            .HtmlAttributes(new { style = "width: 100%" }))
                </div>

                }   @*end of model.psn != 0*@
        </div>
    </div>
</form>