﻿@model CteisCore.Bl.ViewModels.CteisViewModels.vmUserView
@{
    ViewData["Title"] = "UserInformation";
}

<form id="UserForm" data-ajax="true" data-ajax-method="POST" class="form-horizontal">
    <input asp-for="FANO" hidden />
    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>First Name: <span style="color:red">*</span></h4><input asp-for="user.FirstName" maxlength="100" class="form-control" />
                    <h4>Last Name: <span style="color:red">*</span></h4><input asp-for="user.LastName" maxlength="100" class="form-control" />
                    @if (Model.user.UserId != null)
                    {
                        <input asp-for="user.UserId" hidden />
                        <input asp-for="user.MeisNumber" hidden />
                        <h4>MEIS Number: <span style="color:red">*</span></h4><input asp-for="user.MeisNumber" disabled maxlength="100" class="form-control" />
                    }
                    else
                    {
                        <h4>MEIS Number: <span style="color:red">*</span></h4><input asp-for="user.MeisNumber" maxlength="100" class="form-control" />
                    }
                    <h4>Phone Number: </h4><input id="phone" asp-for="user.PhoneNumber" maxlength="100" class="form-control" />
                </div>
                <div class="col-md-6">
                    <h4>Title: </h4><input asp-for="user.Title" maxlength="100" class="form-control" />
                    <h4>Email: <span style="color:red">*</span></h4><input asp-for="user.Email" maxlength="100" class="form-control" />

                    @if (Model.user.UserId != null)
                    {
                        if (Model.user.Active == true)
                        {
                            <h4>Status: <string style="color:green">Active</string></h4>

                            @(Html.Kendo().CheckBox().Name("Deactivate").Label("Deactivate"))
                        }
                        else
                        {
                            <h4>Status: <string style="color:red">Inactive</string></h4>

                            @(Html.Kendo().CheckBox().Name("Activate").Label("Activate"))
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <br />
                    @if (Model.user.UserId == null)
                    {
                        <input id="CreateUserButton" type="submit" value="Create User" class="btn btn-success" />
                    }
                    else
                    {
                        <input id="UpdateUserButton" type="submit" value="Update User" class="btn btn-success" />
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.user.UserId == null)
            {
        <div class="panel panel-default">
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">User Access Control</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel panel-body">
                                <h4>Level</h4>
                                <p>@(Html.Kendo().RadioButton().Name("Level1").Checked(true).Value("Level1").HtmlAttributes(new { @name = "level" }).Label("Level (1) Reports Only"))</p>
                                <p>@(Html.Kendo().RadioButton().Name("Level2").Checked(false).Value("Level2").HtmlAttributes(new { @name = "level" }).Label("Level (2) Read Only"))</p>
                                <p>@(Html.Kendo().RadioButton().Name("Level3").Checked(false).Value("Level3").HtmlAttributes(new { @name = "level" }).Label("Level (3) Data Entry"))</p>
                                <p>@(Html.Kendo().RadioButton().Name("Level4").Checked(false).Value("Level4").HtmlAttributes(new { @name = "level" }).Label("Level (4) Data Entry/Econ Dis."))</p>
                                <br />
                                <p><b>(Level (5) Go To Fiscal Agent)</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel panel-body">
                                <h4>Modules</h4>
                                <p>@(Html.Kendo().CheckBox().Name("ModuleEnrollment").Enable(false).Label("Enrollment/Funding"))</p>
                                <p>@(Html.Kendo().CheckBox().Name("ModuleExpenditures").Enable(false).Label("Expenditures"))</p>
                                <p>@(Html.Kendo().CheckBox().Name("ModuleFollowUp").Enable(false).Label("Follow-Up"))</p>
                                <p>@(Html.Kendo().CheckBox().Name("ModuleProgram").Enable(false).Label("Programs"))</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">Buildings List</h4>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-body">
                            <h4 class="text-center">Available Operating Buildings List</h4>
                            @Html.ListBox("Bulidings", new List<SelectListItem>(), new { id = "Buildings", Multiple = "multiple", Size = 15, style = "width: 100%;" })
                        </div>
                    </div>
                    <div style="padding-top:115px;" class="col-md-2 text-center">
                        <i id="AddButtonBuilding" class="fa fa-arrow-right" aria-hidden="true"></i>
                        <br />
                        <i id="RemoveButtonBuilding" class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-body">
                            <h4 class="text-center">Selected Operating Buildings List</h4>
                            @Html.ListBox("SelectedBuildings", new List<SelectListItem>(), new { id = "SelectedBuildings", Multiple = "multiple", Size = 15, style = "width: 100%;" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="panel panel-default">
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">User Access Control</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel panel-body">
                                <h4>Level</h4>
                                @*@if (Model.level == "0" || Model.level == null || Model.level == "\0")
                                {
                                    <p>@(Html.Kendo().RadioButton().Name("NA").Checked(true).Value("NA").HtmlAttributes(new { @name = "level" }).Label("N/A"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level1").Checked(false).Value("Level1").HtmlAttributes(new { @name = "level" }).Label("Level (1) Reports Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level2").Checked(false).Value("Level2").HtmlAttributes(new { @name = "level" }).Label("Level (2) Read Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level3").Checked(false).Value("Level3").HtmlAttributes(new { @name = "level" }).Label("Level (3) Data Entry"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level4").Checked(false).Value("Level4").HtmlAttributes(new { @name = "level" }).Label("Level (4) Data Entry/Econ Dis."))</p>
                                }*@
                                @if (Model.level == "1" || Model.User == true)
                                {
                                                <p>@(Html.Kendo().RadioButton().Name("Level1").Checked(true).Value("Level1").HtmlAttributes(new { @name = "level" }).Label("Level (1) Reports Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level2").Checked(false).Value("Level2").HtmlAttributes(new { @name = "level" }).Label("Level (2) Read Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level3").Checked(false).Value("Level3").HtmlAttributes(new { @name = "level" }).Label("Level (3) Data Entry"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level4").Checked(false).Value("Level4").HtmlAttributes(new { @name = "level" }).Label("Level (4) Data Entry/Econ Dis."))</p>
                                }
                                else if (Model.level == "2" || Model.CTEISReadOnly == true)
                                {
                                                <p>@(Html.Kendo().RadioButton().Name("Level1").Checked(false).Value("Level1").HtmlAttributes(new { @name = "level" }).Label("Level (1) Reports Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level2").Checked(true).Value("Level2").HtmlAttributes(new { @name = "level" }).Label("Level (2) Read Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level3").Checked(false).Value("Level3").HtmlAttributes(new { @name = "level" }).Label("Level (3) Data Entry"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level4").Checked(false).Value("Level4").HtmlAttributes(new { @name = "level" }).Label("Level (4) Data Entry/Econ Dis."))</p>
                                }
                                else if (Model.level == "3" || Model.CTEISUser == true)
                                {
                                                <p>@(Html.Kendo().RadioButton().Name("Level1").Checked(false).Value("Level1").HtmlAttributes(new { @name = "level" }).Label("Level (1) Reports Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level2").Checked(false).Value("Level2").HtmlAttributes(new { @name = "level" }).Label("Level (2) Read Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level3").Checked(true).Value("Level3").HtmlAttributes(new { @name = "level" }).Label("Level (3) Data Entry"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level4").Checked(false).Value("Level4").HtmlAttributes(new { @name = "level" }).Label("Level (4) Data Entry/Econ Dis."))</p>

                                }
                                else if (Model.level == "4" || Model.CTEISEconDist == true)
                                {
                                                <p>@(Html.Kendo().RadioButton().Name("Level1").Checked(false).Value("Level1").HtmlAttributes(new { @name = "level" }).Label("Level (1) Reports Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level2").Checked(false).Value("Level2").HtmlAttributes(new { @name = "level" }).Label("Level (2) Read Only"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level3").Checked(false).Value("Level3").HtmlAttributes(new { @name = "level" }).Label("Level (3) Data Entry"))</p>
                                                <p>@(Html.Kendo().RadioButton().Name("Level4").Checked(true).Value("Level4").HtmlAttributes(new { @name = "level" }).Label("Level (4) Data Entry/Econ Dis."))</p>

                                }
                                <br />
                                <p><b>(Level (5) Go To Fiscal Agent)</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel panel-body">
                                <h4>Modules</h4>
                                @if (Model.level == "0" || Model.level == "1" || Model.User == true)
                                {
                                    <p>@(Html.Kendo().CheckBox().Name("ModuleEnrollment").Enable(false).Label("Enrollment/Funding"))</p>
                                                <p>@(Html.Kendo().CheckBox().Name("ModuleExpenditures").Enable(false).Label("Expenditures"))</p>
                                                <p>@(Html.Kendo().CheckBox().Name("ModuleFollowUp").Enable(false).Label("Follow-Up"))</p>
                                                <p>@(Html.Kendo().CheckBox().Name("ModuleProgram").Enable(false).Label("Programs"))</p>

                                }
                                else if (Model.level == "2" || Model.level == "3" || Model.level == "4" || Model.CTEISReadOnly == true || Model.CTEISUser == true || Model.CTEISEconDist == true)
                                {
                                    @if (Model.ModuleEnrollment == true)
                                    {
                                        <p>@(Html.Kendo().CheckBox().Name("ModuleEnrollment").Enable(true).Checked(true).Label("Enrollment/Funding"))</p>
                                    }
                                    else
                                    {
                                        <p>@(Html.Kendo().CheckBox().Name("ModuleEnrollment").Enable(true).Checked(false).Label("Enrollment/Funding"))</p>
                                    }
                                    @if (Model.ModuleExpenditures == true)
                                    {
                                        <p>@(Html.Kendo().CheckBox().Name("ModuleExpenditures").Enable(true).Checked(true).Label("Expenditures"))</p>
                                    }
                                    else
                                    {
                                        <p>@(Html.Kendo().CheckBox().Name("ModuleExpenditures").Enable(true).Checked(false).Label("Expenditures"))</p>
                                    }
                                    @if (Model.ModuleFollowUp == true)
                                    {

                                        <p>@(Html.Kendo().CheckBox().Name("ModuleFollowUp").Enable(true).Checked(true).Label("Follow-Up"))</p>
                                    }
                                    else
                                    {
                                        <p>@(Html.Kendo().CheckBox().Name("ModuleFollowUp").Enable(true).Checked(false).Label("Follow-Up"))</p>

                                    }
                                    @if (Model.ModuleProgram == true)
                                    {

                                        <p>@(Html.Kendo().CheckBox().Name("ModuleProgram").Enable(true).Checked(true).Label("Programs"))</p>
                                    }
                                    else
                                    {
                                        <p>@(Html.Kendo().CheckBox().Name("ModuleProgram").Enable(true).Checked(false).Label("Programs"))</p>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">Buildings List</h4>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-body">
                            <h4 class="text-center">Available Operating Buildings List</h4>
                            @Html.ListBox("Bulidings", new List<SelectListItem>(), new { id = "Buildings", Multiple = "multiple", Size = 15, style = "width: 100%;" })
                        </div>
                    </div>
                    <div style="padding-top:115px;" class="col-md-2 text-center">
                        <i id="AddButtonBuilding" class="fa fa-arrow-right" aria-hidden="true"></i>
                        <br />
                        <i id="RemoveButtonBuilding" class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-body">
                            <h4 class="text-center">Selected Operating Buildings List</h4>
                            @Html.ListBox("SelectedBuildings", new List<SelectListItem>(), new { id = "SelectedBuildings", Multiple = "multiple", Size = 15, style = "width: 100%;" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</form>



<script>

    $(function () {
        $("#phone").mask("(999) 999-9999");
    });

    $("#AddButtonBuilding").click(function () {
        //alert("Clicked");
        $("#Buildings > option:selected").each(function () {
            $(this).remove().appendTo("#SelectedBuildings");
        });
    });

    $("#RemoveButtonBuilding").click(function () {
        //alert("Remove Click");
        $("#SelectedBuildings > option:selected").each(function () {
            $(this).remove().appendTo("#Buildings");
        });
    });

    $("#Level1_Level1").click(function () {
        //alert("Here");
        if ($(this).is(':checked')) {
            $('#ModuleEnrollment').prop('disabled', true);
            $('#ModuleExpenditures').prop('disabled', true);
            $('#ModuleFollowUp').prop('disabled', true);
            $('#ModuleProgram').prop('disabled', true);

            $('#ModuleEnrollment').attr('checked', false);
            $('#ModuleExpenditures').attr('checked', false);
            $('#ModuleFollowUp').attr('checked', false);
            $('#ModuleProgram').attr('checked', false);
        } else {
            $('#ModuleEnrollment').prop('disabled', false);
            $('#ModuleExpenditures').prop('disabled', false);
            $('#ModuleFollowUp').prop('disabled', false);
            $('#ModuleProgram').prop('disabled', false);
        }
    });

    $("#Level2_Level2").click(function () {
        //alert("Here");
        if ($(this).is(':checked')) {
            $('#ModuleEnrollment').prop('disabled', false);
            $('#ModuleExpenditures').prop('disabled', false);
            $('#ModuleFollowUp').prop('disabled', false);
            $('#ModuleProgram').prop('disabled', false);
        } else {
            $('#ModuleEnrollment').prop('disabled', true);
            $('#ModuleExpenditures').prop('disabled', true);
            $('#ModuleFollowUp').prop('disabled', true);
            $('#ModuleProgram').prop('disabled', true);
        }
    });

    $("#Level3_Level3").click(function () {
        //alert("Here");
        if ($(this).is(':checked')) {
            $('#ModuleEnrollment').prop('disabled', false);
            $('#ModuleExpenditures').prop('disabled', false);
            $('#ModuleFollowUp').prop('disabled', false);
            $('#ModuleProgram').prop('disabled', false);
        } else {
            $('#ModuleEnrollment').prop('disabled', true);
            $('#ModuleExpenditures').prop('disabled', true);
            $('#ModuleFollowUp').prop('disabled', true);
            $('#ModuleProgram').prop('disabled', true);
        }
    });

    $("#Level4_Level4").click(function () {
        //alert("Here");
        if ($(this).is(':checked')) {
            $('#ModuleEnrollment').prop('disabled', false);
            $('#ModuleExpenditures').prop('disabled', false);
            $('#ModuleFollowUp').prop('disabled', false);
            $('#ModuleProgram').prop('disabled', false);
        } else {
            $('#ModuleEnrollment').prop('disabled', true);
            $('#ModuleExpenditures').prop('disabled', true);
            $('#ModuleFollowUp').prop('disabled', true);
            $('#ModuleProgram').prop('disabled', true);
        }
    });

    $("#CreateUserButton").click(function (e) {
        $('#SelectedBulidings  option').prop('selected', true);

        e.preventDefault();
        var myform = document.getElementById("UserForm");
        var fd = new FormData(myform);
        $.ajax({
            url: "/FiscalAgent/CreateUser",
            data: fd,
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                $('#vailmessage').html(data);
                $('#UserGrid').data('kendoGrid').dataSource.read();
                $('#mainModal').modal('show');

                setTimeout(function () {
                    $('#mainModal').modal('hide')
                }, 3000);
            }
        });
    });

    $("#UpdateUserButton").click(function (e) {
        $('#SelectedBuildings  option').prop('selected', true);

        e.preventDefault();
        var myform = document.getElementById("UserForm");
        var fd = new FormData(myform);
        $.ajax({
            url: "/FiscalAgent/UpdateUser",
            data: fd,
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                $('#vailmessage').html(data);
                $('#UserGrid').data('kendoGrid').dataSource.read();
                $('#mainModal').modal('show');

                setTimeout(function () {
                    $('#mainModal').modal('hide')
                }, 3000);


                $.ajax({
                    url: "/FiscalAgent/CreateUserView",
                    data: { UserId: "@Model.user.UserId", Fiscal: $('#FaList').val() },
                    dataType: 'html',
                    success: function (data) {
                        //$('#menu2').Show();
                        //$('#Tabs a[href="#menu2"]').Show();
                        $('#Tabs a[href="#menu1"]').hide();
                        $('#Tabs a[href="#menu2"]').show();
                        $('#CreateUserTab').hide();
                        $('#CreateUserTab').html(null);
                        $('#Tabs a[href="#menu2"]').tab('show');
                        $('#UpdateUserTab').show();
                        $('#UpdateUserTab').html(data);

                        $('#UserGrid').data('kendoGrid').dataSource.read();

                        $.ajax({
                            url: "/FiscalAgent/GetBuildingListByFANO",
                            dataType: 'json',
                            data: { FANO: $('#FaList').val() },
                            success: function (data) {
                                $("#Buildings").empty();
                                $.each(data, function (index, optiondata) {
                                    $("#Buildings").append("<option value='" + optiondata.EntId + "'>" + optiondata.Fano + " " + optiondata.Obno + " " + optiondata.BuildingName + "</option>");
                                });
                            }
                        });

                        $.ajax({
                            url: "/FiscalAgent/GetUserBuildingsByUserIdAndFANO",
                            dataType: 'json',
                            data: { UserId: "@Model.user.UserId", FANO: $('#FaList').val() },
                            success: function (data) {
                                $("#SelectedBuildings").empty();
                                $.each(data, function (index, optiondata) {
                                    $("#SelectedBuildings").append("<option value='" + optiondata.EntId + "'>" + optiondata.Fano + " " + optiondata.Obno + " " + optiondata.BuildingName + "</option>");
                                });
                            }
                        });


                    },
                });


            }
        });
    });
</script>