﻿@model List<CteisCore.Bl.ViewModels.UserViewModels.vmUser>
@{
    ViewData["Title"] = "Manage Users";
}

<div class="col-md-12">
    <h1 class="text-center">Manage CTEIS Users</h1>
</div>

<div>
    <ul id="Tabs" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#home">Users</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="2" href="#menu1">Create User</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="3" hidden href="#menu2">Update User</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row">
                <div style="padding-bottom: 20px; padding-top: 20px;" class="col-md-6">
                    <h4>List By Role:</h4>
                    @(Html.Kendo().DropDownList()
                .Name("RoleFilter")
                .DataTextField("Text")
                .DataValueField("Value")
                .Events(e => e.Change("change"))
                .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                        Text = " ",
                        Value = "0"
                    },
                    new SelectListItem() {
                        Text = "All Users",
                        Value = "1"
                    },
                    new SelectListItem() {
                        Text = "CEPD Admin",
                        Value = "2"
                    },
                    new SelectListItem() {
                        Text = "Fiscal Agent",
                        Value = "3"
                    },
                    new SelectListItem() {
                        Text = "OCTE Admin",
                        Value = "4"
                    },
                    new SelectListItem() {
                        Text = "OCTE TRAC",
                        Value = "5"
                    },
                    new SelectListItem() {
                        Text = "OCTE CRCR",
                        Value = "6"
                    },
                    new SelectListItem() {
                        Text = "OCTE Ad Hoc",
                        Value = "7"
                    },
                    new SelectListItem() {
                        Text = "All OCTE",
                        Value = "8"
                    },
                    new SelectListItem() {
                        Text = "College",
                        Value = "9"
                    },
                    new SelectListItem() {
                        Text = "System User",
                        Value = "10"
                    }
                })
                .Value("0")
                .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
                <div style="padding-bottom: 20px; padding-top: 20px;">
                    <h4 class="text-center">Search by CEPD or Fiscal</h4>
                    <div class="col-md-3">
                        @(Html.Kendo().DropDownList()
                        .Name("CEPDUserSelect")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select CEPD...")
                        .DataTextField("Cepdno")
                        .DataValueField("Cepdno")
                        .Events(e => e
                        .Select("CEPDSelectList"))
                        .Value(" ")
                    .DataSource(source =>
                     {
                         source.Read(read =>
                         {
                             read.Action("GetCepdList", "SystemMaintenance");
                         });
                     }))
                    </div>
                    <div class="col-md-3">
                        @(Html.Kendo().DropDownList()
                    .Name("FiscalUserSelect")
                    .HtmlAttributes(new { style = "width:100%" })
                    .OptionLabel("Select Fiscal...")
                    .DataTextField("DistrictName")
                    .DataValueField("Fano")
                    .Events(e => e
                    .Select("FiscalUserSelect"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetFiscalList", "SystemMaintenance");
                        });
                    }))
                    </div>
                </div>
                <div class="col-md-12">
                    @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.UserViewModels.vmUser>()
                    .Name("UserGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.FirstName).Title("First Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); });
                        columns.Bound(p => p.LastName).Title("Last Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }); ;
                        columns.Bound(p => p.Title).Title("Title").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }); ;
                        columns.Bound(p => p.PhoneNumber).Title("Phone Number").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }); ;
                        columns.Bound(p => p.MeisNumber).Title("MEIS Number").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }); ;
                        columns.Bound(p => p.Active).ClientTemplate("#: Active ? 'Yes' : 'No' #");
                        columns.Bound(p => p.FAorCEPD).Title("FA/CEPD").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }); ;
                        columns.Command(command =>
                        {
                            command.Custom("Select").Click("updateUser");
                        });
                    })
                 .Filterable()
                .ToolBar(tools => tools.Excel())
                .HtmlAttributes(new { style = "height: 550px;" })
                //.Editable(editable => editable.Mode(GridEditMode.PopUp))
                .Pageable()
                .Sortable()
                .Selectable()
                .Excel(excel => excel
                    .FileName("Users List.xlsx")
                    .Filterable(true)
                )
                .Scrollable(scr => scr.Height(830))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(p => p.UserId))
                    .Read(read => read.Action("OCTE_UserRead", "SystemMaintenance"))
                    .PageSize(20)
                    //.ServerOperation(false)
                    ))
                </div>
            </div>
            <br />
        </div>
        <div id="menu1" class="tab-pane fade">
                <div id="CreateUserTab"></div>
            <br />
        </div>
        <div id="menu2" class="tab-pane fade">
                <div id="UpdateUserTab"></div>
            <br />
        </div>
    </div>
</div>

<div id="mainModal" class="modal fade" aria-labeledby="mainModalTitle" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="mainModalBody" class="modal-body">
                <strong></strong> <div id="vailmessage"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function change() {
        var value = $("#RoleFilter").val();
        //alert(value);

        switch (value){
            case "1":

                $.ajax({
                    url: "/SystemMaintenance/GetAllUsers",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.serverPaging = false;
                        grid.dataSource.page(1);

                        //$('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "2":

                $.ajax({
                    url: "/SystemMaintenance/GetAllCepdAdmins",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "3":

                $.ajax({
                    url: "/SystemMaintenance/GetAllFiscalAgents",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "4":

                $.ajax({
                    url: "/SystemMaintenance/GetAllOCTEAdmins",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "5":

                $.ajax({
                    url: "/SystemMaintenance/GetAllOCTETracs",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "6":

                $.ajax({
                    url: "/SystemMaintenance/GetAllOCTECRCR",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "7":

                $.ajax({
                    url: "/SystemMaintenance/GetAllAdHocUsers",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "8":

                $.ajax({
                    url: "/SystemMaintenance/GetAllOCTE",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "9":

                $.ajax({
                    url: "/SystemMaintenance/GetAllCollegeUsers",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
            case "10":

                $.ajax({
                    url: "/SystemMaintenance/GetAllSystemUsers",
                    dataType: 'json',
                    success: function (data) {

                        var dataSource = new kendo.data.DataSource({
                            data: data
                        });

                        var grid = $("#UserGrid").data("kendoGrid");
                        grid.setDataSource(dataSource);
                        grid.dataSource.page(1);

                        $('#UserGrid').data('kendoGrid').dataSource.read();
                    }
                });

                break;
        }

    };

    $(function () {

        $('#Tabs a[href="#menu2"]').hide();

        $('#Tabs a[href="#home"]').click(function () {
            $.ajax({
                url: "/SystemMaintenance/CreateUserView",
                dataType: 'html',
                success: function (data) {
                    $('#UpdateUserTab').hide();
                    $('#UpdateUserTab').html(null);

                    $('#CreateUserTab').show();
                    $('#CreateUserTab').html(data);

                    $('#Tabs a[href="#menu1"]').show();
                    $('#Tabs a[href="#menu2"]').hide();
                },
            });
        })
    })

    // Get all elements with class="closebtn"
    var close = document.getElementsByClassName("closebtn");
    var i;

    // Loop through all close buttons
    for (i = 0; i < close.length; i++) {
        // When someone clicks on a close button
        close[i].onclick = function () {

            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;

            // Set the opacity of div to 0 (transparent)
            //div.style.opacity = "0";

            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }

    function CEPDSelectList(e) {
        e.preventDefault();

        var dataItem = this.dataItem(e.item);
        //alert(dataItem.Cepdno);

        $.ajax({
            url: "/SystemMaintenance/GetUsersByCEPD",
            dataType: 'json',
            data: { Cepd: dataItem.Cepdno },
            success: function (data) {

                var dataSource = new kendo.data.DataSource({
                    data: data
                });

                var grid = $("#UserGrid").data("kendoGrid");
                grid.setDataSource(dataSource);
                grid.dataSource.page(1);

                $('#UserGrid').data('kendoGrid').dataSource.read();
            }
        });

    }

    function FiscalUserSelect(e) {
        e.preventDefault();

        var dataItem = this.dataItem(e.item);
        //alert(dataItem.Fano);

        $.ajax({
            url: "/SystemMaintenance/GetUsersByFiscal",
            dataType: 'json',
            data: { Fiscal: dataItem.Fano },
            success: function (data) {

                var dataSource = new kendo.data.DataSource({
                    data: data
                });

                var grid = $("#UserGrid").data("kendoGrid");
                grid.setDataSource(dataSource);
                grid.dataSource.page(1);

                $('#UserGrid').data('kendoGrid').dataSource.read();
            }
        });

    }


    function updateUser(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //alert(dataItem.UserId);

        $.ajax({
            url: "/SystemMaintenance/CreateUserView",
            data: { UserId: dataItem.UserId },
            dataType: 'html',
            success: function (data) {
                //$('#menu2').Show();
                //$('#Tabs a[href="#menu2"]').Show();
                $('#Tabs a[href="#menu1"]').hide();
                $('#Tabs a[href="#menu2"]').show();
                $('#CreateUserTab').hide();
                $('#CreateUserTab').html(null);
                $('#Tabs a[href="#menu2"]').tab('show');
                $('#UpdateUserTab').show();
                $('#UpdateUserTab').html(data);

                $('#UserGrid').data('kendoGrid').dataSource.read();

                $.ajax({
                    url: "/SystemMaintenance/GetUserCepdListByUserId",
                    dataType: 'json',
                    data: { UserId: dataItem.UserId },
                    success: function (data) {
                        var multiselect = $("#CEPDSelect").data("kendoMultiSelect");
                        var value = multiselect.value();
                        multiselect.value(data);
                    }
                });

                $.ajax({
                    url: "/SystemMaintenance/GetFiscalListByUserId",
                    dataType: 'json',
                    data: { UserId: dataItem.UserId },
                    success: function (data) {
                        $("#StoredFiscals").empty();
                        $.each(data, function (index, optiondata) {
                            $("#StoredFiscals").append("<option value='" + optiondata.Fano + "'>" + optiondata.Fano + " " + optiondata.DistrictName + "</option>");
                        });
                    }
                });

                $.ajax({
                    url: "/SystemMaintenance/GetvmBuildingsByUserId",
                    dataType: 'json',
                    data: { UserId: dataItem.UserId },
                    success: function (data) {
                        $("#SelectedBuildings").empty();
                        $.each(data, function (index, optiondata) {
                            $("#SelectedBuildings").append("<option value='" + optiondata.EntId + "'>" + optiondata.Obno + " " + optiondata.BuildingName + "</option>");
                        });
                    }
                });

                $.ajax({
                    url: "/SystemMaintenance/GetUserCollegeProgramsByUserId",
                    dataType: 'json',
                    data: { UserId: dataItem.UserId },
                    success: function (data) {
                        $("#SelectedPrograms").empty();
                        $.each(data, function (index, optiondata) {
                            $("#SelectedPrograms").append("<option value='" + optiondata.Psn + "'>" + optiondata.Cipcode + " " + optiondata.Obname + " " + optiondata.ProgramName + "</option>");
                        });
                    }
                });


            },
        });

    }

    $.ajax({
        url: "/SystemMaintenance/CreateUserView",
        //data: { UserId: "" },
        dataType: 'html',
        success: function (data) {
            $('#CreateUserTab').html(data);
        },
    });

       function Cepddropdownlist_select(e) {
        var dataItem = this.dataItem(e.item)
        //alert(dataItem.Cepdno)

        $("#Fiscals").empty();

        $.ajax({
            url: "/SystemMaintenance/GetFiscalListByCepd",
            dataType: 'json',
            data: { Cepd: dataItem.Cepdno },
            success: function (data) {
                $("#Fiscals").empty();
                $.each(data, function (index, optiondata) {
                    $("#Fiscals").append("<option value='" + optiondata.Fano + "'>" + optiondata.Fano + " " + optiondata.DistrictName + "</option>");
                });
            }
        });

    }

       function filterProducts() {
           return {
               Cepd: $("#CepdDropDownList").val()
           };
       }

       function filterProducts2() {
           return {
               Cepd: $("#CepdDropDownList2").val()
           };
       }

       function FiscalDropDownList2_select(e) {
           var dataItem = this.dataItem(e.item)
           //alert(dataItem.Fano)

           $("#Buildings").empty();

           $.ajax({
               url: "/SystemMaintenance/GetvmBuildings",
               dataType: 'json',
               data: { Fiscal: dataItem.Fano },
               success: function (data) {
                   $("#Buildings").empty();
                   $.each(data, function (index, optiondata) {
                       $("#Buildings").append("<option value='" + optiondata.EntId + "'>" + optiondata.Obno + " " + optiondata.BuildingName + "</option>");
                   });
               }
           });

       }

       function onAutoCompleteSelect(e) {
           var dataItem = this.dataItem(e.item.index());
           //alert(dataItem.Data);

           $.ajax({
               url: "/SystemMaintenance/GetSearchPrograms",
               dataType: 'json',
               data: { searchString: dataItem.Data },
               success: function (data) {
                   $("#Programs").empty();
                   $.each(data, function (index, optiondata) {
                       $("#Programs").append("<option value='" + optiondata.Psn + "'>" + optiondata.Cipcode + " " + optiondata.Obname + " " + optiondata.ProgramName + "</option>");
                   });
               }
           });
       }

       function AdditionalDataAutoComplete() {
           return {
               text: $("#searchAutoComplete").val()
           };
       }

</script>