﻿
@{
    ViewData["Title"] = "User College Program List";
}

<h3>Exit Status</h3>
<div class="panel panel-default">
    @(Html.Kendo().Grid<CteisCore.Data.Models.LkpExitStatus>()
    .Name("ExitStatus")
    .Columns(columns =>
    {
        columns.Bound(p => p.ExitStatusId);
        columns.Bound(p => p.ExitStatusDesc);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    //.ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Selectable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
     .Ajax()
     .Model(model => model.Id(p => p.ExitStatusId))
     .Read(read => read.Action("LkpExitStatus_Read", "UserManagement"))
     .PageSize(20)
     .ServerOperation(false)
     ))
</div>

<h3>Handicap Type</h3>
<div class="panel panel-default">
    @(Html.Kendo().Grid<CteisCore.Data.Models.LkpHandicapType>()
    .Name("LkpHandicapType")
    .Columns(columns =>
    {
        columns.Bound(p => p.HandicaptTypeId);
        columns.Bound(p => p.HandicapType);
        columns.Bound(p => p.HandicapDesc);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    //.ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Selectable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
     .Ajax()
     .Model(model => model.Id(p => p.HandicaptTypeId))
     .Read(read => read.Action("LkpHandicapType_Read", "UserManagement"))
     .PageSize(20)
     .ServerOperation(false)
     ))
</div>

<h3>Race Ethnic</h3>
<div class="panel panel-default">
    @(Html.Kendo().Grid<CteisCore.Data.Models.LkpRaceEthnic>()
    .Name("RaceGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.RaceEthnicId);
        columns.Bound(p => p.RaceEthnic);
        columns.Bound(p => p.RaceEthDesc);
        columns.Bound(p => p.EdenRaceEthnic);
        columns.Bound(p => p.SortOrder);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    //.ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Selectable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
     .Ajax()
     .Model(model => model.Id(p => p.RaceEthnicId))
     .Read(read => read.Action("LkpRaceEthnic_Read", "UserManagement"))
     .PageSize(20)
     .ServerOperation(false)
     ))
</div>