﻿
@{
    ViewData["Title"] = "Program Enrollments";
}

<h3>Program Enrollments</h3>
<div class="panel panel-default">
    @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.CteisViewModels.vmProgramEnrollment>()
    .Name("ExitStatus")
    .Columns(columns =>
    {
        columns.Bound(p => p.Peid);
        columns.Bound(p => p.Psn);
        columns.Bound(p => p.StudentUic);
        columns.Bound(p => p.AssessScore);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    //.ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Selectable()
    .Scrollable(scr => scr.Height(800))
    .Filterable()
    .DataSource(dataSource => dataSource
     .Ajax()
     .Model(model => model.Id(p => p.Peid))
     .Read(read => read.Action("Students_Read", "UserManagement"))
     .PageSize(20)
     .ServerOperation(false)
     ))
</div>