﻿
@{
    ViewData["Title"] = "Students";
}

<h3>Students</h3>
<div class="panel panel-default">
    @(Html.Kendo().Grid<CteisCore.Data.Models.EnrStudent>()
    .Name("ExitStatus")
    .Columns(columns =>
    {
        columns.Bound(p => p.Uic);
        columns.Bound(p => p.LastName);
        columns.Bound(p => p.FirstName);
        columns.Bound(p => p.Grade);
        columns.Bound(p => p.RaceEthnic);
        columns.Bound(p => p.HandicapType);
        columns.Bound(p => p.SingleParent);
        columns.Bound(p => p.Phone1);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    //.ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Selectable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
     .Ajax()
     .Model(model => model.Id(p => p.Uic))
     .Read(read => read.Action("Students_Read", "UserManagement"))
     .PageSize(20)
     .ServerOperation(false)
     ))
</div>