﻿@model List<CteisCore.Bl.ViewModels.UserViewModels.vmUserCepdAdmin>
@{
    ViewData["Title"] = "Usre Cepd List";
}

@if (Model != null)
{
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Cteis CepdList
        </div>
        @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.FirstName).Title("First Name");
        columns.Bound(p => p.LastName).Title("Last Name");
        columns.Bound(p => p.MeissNumber).Title("Meis Number");
        columns.Bound(p => p.CepdlistId).Title("CepdlistId");
        //columns.Bound(p => p.UserId).Title("UserId");
        columns.Bound(p => p.Cepdno).Title("CepdNo");
    })
    .Pageable(pageable => pageable
       .Input(true)
       .Numeric(false)
     )
    //.HtmlAttributes(new { style = "height: 450px;" })
    .Sortable()
    .Filterable()
    .Scrollable(scr => scr.Height(730))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     ))
    </div>
}
else
{
    <p>No Users</p>
}