﻿@model List<CteisCore.Bl.ViewModels.UserViewModels.vmUser>
@{
    ViewData["Title"] = "Users";
}
<a class="fa fa-gavel" style="font-size: 25px;" asp-area="" asp-controller="UserManagement" asp-action="RolesPage"><br />Roles</a>
<br />
<a class="fa fa-bomb" style="font-size: 25px;" asp-area="" asp-controller="UserManagement" asp-action="DeleteAllUsers"><br />Delete All</a>
<br />
<a class="fa fa-users" style="font-size: 25px;" asp-area="" asp-controller="UserManagement" asp-action="CreateAllUsers"><br />Create All</a>
<br />
<a class="fa fa-wrench" style="font-size: 25px;" asp-area="" asp-controller="UserManagement" asp-action="AddRoles"><br />Add Roles</a>
<br />
@if (Model != null)
{
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Cteis Users
        </div>
        @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.FirstName).Title("First Name");
        columns.Bound(p => p.LastName).Title("Last Name");
        columns.Bound(p => p.MeisNumber).Title("Meis Number");
        columns.Bound(p => p.Level).Title("Level");
        columns.Command(command => columns.Bound(p => p.UserId).Title("Select").ClientTemplate("<a href='" + Url.Action("UserInformation", "UserManagement") + "/#=UserId#'>Select</a>"));
    })
    .Pageable(pageable => pageable
       .Input(true)
       .Numeric(false)
     )
    //.HtmlAttributes(new { style = "height: 450px;" })
    .Sortable()
    .Filterable()
    .Scrollable(scr => scr.Height(730))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     ))
    </div>
}else
{
<p>No Users</p>
}