
    @{
        ViewData["Title"] = "Program Maintenance";
    }

    <div class="col-md-12">
        <h1 class="text-center">Program Maintenance - (Add, Edit, and Review records)</h1>
    </div>

    <div id="divMain">
        <ul id="Tabs" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#home">Search Program</a></li>
            <li><a data-toggle="tab" class="nav_link" data_id="2" href="#menu1">Create Program</a></li>
            <li><a data-toggle="tab" class="nav_link" data_id="3" hidden href="#menu2">Update Program</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <p>@(Html.Kendo().RadioButton().Name("Active").Checked(false).Value("Active").HtmlAttributes(new { @name = "level" }).Label("Active Programs"))</p>
                            </div>
                            <div class="col-sm-3">
                                <p>@(Html.Kendo().RadioButton().Name("InActive").Checked(false).Value("InActive").HtmlAttributes(new { @name = "level" }).Label("InActive Programs"))</p>
                            </div>
                            <div class="col-sm-3">
                                <p>@(Html.Kendo().RadioButton().Name("All").Checked(false).Value("All").HtmlAttributes(new { @name = "level" }).Label("All Programs"))</p>
                            </div>
                            <div class="col-sm-3">
                                <input id="CreateProgramView" type="submit" value="Create Program" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="GridContainer" class="col-md-12">
                        @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.CteisViewModels.vmProgram>()
                            .Name("ProgramGrid")
                            .Columns(columns =>
                            {
                                columns.Command(command =>
                                {
                                    command.Custom(" ").HtmlAttributes(new { @class = "fa fa-user" });
                                }).Width(90);
                                columns.Bound(p => p.Psn).Title("PSN").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.Cipcode).Title("CIP").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.ProgramName).Title("Program").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                                columns.Bound(p => p.Cepdno).Title("CEPD").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.FaNo).Title("FA").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.Faname).Title("FA Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                                columns.Bound(p => p.OaNo).Title("Dist").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.Oaname).Title("Dist Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                                columns.Bound(p => p.ObNo).Title("Bldg").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.Obname).Title("Bldg Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(225);
                                columns.Bound(p => p.ProgramType).Title("Type").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                                columns.Bound(p => p.ProgramActive).Title("Active").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(115);
                            })
                        .ToolBar(tools => tools.Excel())
                        .HtmlAttributes(new { style = "height: 550px;" })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                        .Pageable()
                        .Sortable()
                        .Selectable()
                        .Excel(excel => excel
                            .FileName("Program List.xlsx")
                            .Filterable(true)
                        )
                        .Scrollable(scr => scr.Height(830))
                        .Filterable()
                        .AutoBind(false)
                        .Excel(excel => excel
                            .AllPages(true)
                        )
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model => model.Id(p => p.Psn))
                            .Read(read => read.Action("UpdateGrid", "Program").Data("GridRead"))
                            .PageSize(20)
                            .ServerOperation(false)
                            ).Resizable(resize => resize.Columns(true)))
                    </div >

                </div >  @* end of row*@
            </div>  @*end of home*@

            <div id="menu1" class="tab-pane fade">
                <div class="panel panel-default">
                    <div id="CreateProgramTab"></div>
                </div>
                <br />
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="panel panel-default">
                    <div id="UpdateProgramTab"></div>
                </div>
                <br />
            </div>


        </div> @*end tab-content*@
    </div>  @*end of divMain*@

<script>

    $(function () {

        var Action; 

        $('#Tabs a[href="#menu2"]').show();
        $('#Tabs a[href="#menu1"]').show();

        $('#Tabs a[href="#home"]').click(function () {

            $('#Tabs a[href="#menu2"]').hide();
            $('#Tabs a[href="#menu1"]').hide();

        })

        $(':radio[name=level]').change(function () {
            $('#ProgramGrid').data('kendoGrid').dataSource.read();
        });

    })     @* end of page load function *@

    function GridRead() {
        var sel = $("input[name='level']:checked").val();
        return {
            Action: sel
        };
    }

    $("#CreateProgramView").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Program/CreateProgramView",
            dataType: 'html',
            success: function (data) {
                $('#UpdateProgramTab').hide();
                $('#UpdateProgramTab').html(null);

                $('#CreateProgramTab').show();
                $('#CreateProgramTab').html(data);
                $('#Tabs a[href="#menu1"]').show();
                $('#Tabs a[href="#menu1"]').tab('show');


            },
        });
    });

    function updateProgram(e) {
        //e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $.ajax({
            url: "/Program/CreateProgramView",
            data: { StudentUIC: dataItem.StudentUIC },
            dataType: 'html',
            success: function (data) {
                $('#Tabs a[href="#menu1"]').hide();
                $('#Tabs a[href="#menu2"]').show();
                $('#CreateProgramTab').hide();
                $('#CreateProgramTab').html(null);
                $('#Tabs a[href="#menu2"]').tab('show');
                $('#UpdateProgramTab').show();
                $('#UpdateProgramTab').html(data);

                $('#ProgramGrid').data('kendoGrid').dataSource.read();
                selectRow(dataItem.PSN);

            },
        });

    }

    function selectRow(ea) {
        var grid = $('#ProgramGrid').data('kendoGrid');
        grid.bind('dataBound', function (e) {
            $.each(grid.tbody.find('tr'), function () {
                $('tr').removeClass('k-state-selected');
            });
            $.each(grid.tbody.find('tr'), function () {
                var model = grid.dataItem(this);
                if (model.StudentUIC == ea) {//some condition
                    $('[data-uid=' + model.uid + ']').addClass('k-state-selected');
                }
            });
        });
    }

</script>


