﻿
@{
    ViewData["Title"] = "Manage Students";
}

<div class="col-md-12">
    <h1 class="text-center">Manage Students - (Add, Edit, and Review records)</h1>
</div>

<div>
    <ul id="Tabs" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#home">Students</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="2" href="#menu1">Create Student</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="3" hidden href="#menu2">Update Student</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br />
            <div class="row">
                @if (User.IsInRole("OCTPFunding") || (User.IsInRole("OCTPUser")))
                {
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <div class="col-md-4">
                                        @(Html.Kendo().DropDownList()
                        .Name("OCTECEPDUserSelect")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select CEPD...")
                        .DataTextField("Cepdno")
                        .DataValueField("Cepdno")
                        .Value(" ")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetCepdList", "Students");
                        });
                    }))
                                    </div>
                                    <div class="col-md-4">
                                        @(Html.Kendo().DropDownList()
                        .Name("OCTEFiscalDropDownList")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select Fiscal...")
                        .DataTextField("DistrictName")
                        .DataValueField("Fano")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetFiscalsAndFanoByCEPD", "Students")
                                    .Data("filterFiscal");
                            })
                            .ServerFiltering(true);
                        })
                        .Enable(false)
                        .AutoBind(false)
                        .CascadeFrom("OCTECEPDUserSelect")
                                        )
                                    </div>
                                    <div class="col-md-4">
                                        @(Html.Kendo().DropDownList()
                        .Name("OCTEBuildingDropDownList")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select Building...")
                        .DataTextField("BuildingName")
                        .DataValueField("BuildingNumber")
                        .Events(e => e
                        .Change("OCTEDropDownList_select"))
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetBuildingsByFiscal", "Students")
                                    .Data("filterBuilding");
                            })
                            .ServerFiltering(true);
                        })
                        .Enable(false)
                        .AutoBind(false)
                        .CascadeFrom("OCTEFiscalDropDownList"))
                                    </div>
                                    <div class="col-md-12">
                                        <br />
                                        <div class="form-inline">
                                            <input id="sUICOCTE" placeholder="Search By UIC" type="text" class="form-control">
                                            <input id="searchButtonOCTE" type="button" onclick="javascript: btnAdvanceSearchClick();" value="Search" class="btn btn-primary">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <br />
                                        <div class="form-inline">
                                            <input id="clearOCTE" type="button" onclick="javascript: OCTEbtnClear();" value="Clear Input" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (User.IsInRole("CTEISFunding"))
                {
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    @(Html.Kendo().CheckBox().Name("LeftSchool").Label("Include Students Who Left School"))
                                    @(Html.Kendo().DropDownList()
                        .Name("FABuildingList")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Select Building...")
                        .DataTextField("BuildingName")
                        .DataValueField("BuildingNumber")
                        .Events(e => e
                        .Change("FABuilding_Select"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetFiscalBuildingList", "Students");
                        });
                    }))
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="form-inline">
                                        @*<h4 >Search By UIC</h4>*@
                                        <input id="searchInfo" type="text" placeholder="Search By UIC/LastName" class="form-control">
                                        <input  id="searchButtonFA" type="button" onclick="javascript: btnAdvanceSearchClickFA();" value="Search" class="btn btn-primary">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="form-inline">
                                        <input id="clearFA" type="button" onclick="javascript: FAbtnClear();" value="Clear Input" class="btn btn-primary">
                                    </div>
                                </div>
                                @if (!User.IsInRole("CTEISReadOnly") || (!User.IsInRole("OCTPReadOnly")))
                                {
                                    <div class="col-md-12">
                                        <br />
                                        <input id="CreateStudentView" type="submit" value="Create Student" class="btn btn-success" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div id="GridContainer" class="col-md-12">
                    @(Html.Kendo().Grid<CteisCore.Bl.ViewModels.CteisViewModels.vmStudent>()
                        .Name("StudentGrid")
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Custom(" ").Visible("editVisible").Click("updateStudent").HtmlAttributes(new { @class = "fa fa-user" });
                            }).Width(90);
                            columns.Bound(p => p.StudentUIC).Title("UIC").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(125);
                            columns.Bound(p => p.FirstName).Title("First Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.LastName).Title("Last Name").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.DateOfBirth).Title("DOB").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).ClientTemplate("#= kendo.toString(kendo.parseDate(DateOfBirth), 'dd/MM/yyyy') #").Width(100);
                            columns.Bound(p => p.Gender).Title("Gender").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(100);
                            columns.Bound(p => p.Grade).Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(90);
                            columns.Bound(p => p.SendingFacility).Title("Sending Facility").Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(280);
                            columns.Bound(p => p.LeftSchool).Title("Left School").Hidden().Filterable(filter => { filter.Extra(false); filter.Operators(op => { op.ForString(str => { str.Clear().Contains("Contains"); }); }); }).Width(130);

                        })
                        .ToolBar(tools => tools.Excel())
                        .HtmlAttributes(new { style = "height: 550px;" })
                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                        .Pageable()
                        .Sortable()
                        .Selectable()
                        .Excel(excel => excel
                            .FileName("Students List.xlsx")
                            .Filterable(true)
                        )
                        .Scrollable(scr => scr.Height(830))
                        .Filterable()
                        .AutoBind(false)
                        .Excel(excel => excel
                            .AllPages(true)
                        )
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model => model.Id(p => p.StudentUIC))
                            .Read(read => read.Action("UpdateGrid", "Students").Data("GridRead"))
                            .PageSize(20)
                            .ServerOperation(false)
                            ).Resizable(resize => resize.Columns(true)))
                </div>
            </div>
            <br />
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="panel panel-default">
                <div id="CreateStudentTab"></div>
            </div>
            <br />
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="panel panel-default">
                <div id="UpdateStudentTab"></div>
            </div>
            <br />
        </div>
    </div>
</div>

<div id="mainModal" class="modal fade" aria-labeledby="mainModalTitle" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="mainModalBody" class="modal-body">
                <strong></strong> <div id="vailmessage"></div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        var OCTEBuildingNo;
        var FABuildingNo;
        var OCTESearch;
        var FASearch;
        var LeftSchool;

        $('#Tabs a[href="#menu2"]').hide();
        $('#Tabs a[href="#menu1"]').hide();

        $('#Tabs a[href="#home"]').click(function () {
            $('#UpdateStudentTab').hide();
            $('#UpdateStudentTab').html(null);

            $('#CreateStudentTab').hide();
            $('#CreateStudentTab').html(null);

            $('#Tabs a[href="#menu2"]').hide();
            $('#Tabs a[href="#menu1"]').hide();

        })
    })

    function editVisible(dataItem) {
        // hide the update button if can view = false
        return dataItem.CanView == true;
    }

    function GridRead() {
        return {
            OCTEBuildingNo: OCTEBuildingNo,
            FABuildingNo: FABuildingNo,
            OCTESearch: OCTESearch,
            FASearch: FASearch,
            LeftSchool: LeftSchool
        };

    }

    $("#LeftSchool").click(function (e) {
        if ($(this).is(':checked')) {
            //alert('checked');
            var grid = $("#StudentGrid").data("kendoGrid");
            grid.showColumn(8);
        } else {
            //alert('not checked');
            var grid = $("#StudentGrid").data("kendoGrid");
            grid.hideColumn(8);
        }
        SetGridData(null, $("#FABuildingList").data("kendoDropDownList").value(), null, null, $('#LeftSchool').is(':checked'));
        $('#searchInfo').val('');
        $('#StudentGrid').data('kendoGrid').dataSource.read();
    });

    $("#sUICOCTE").keypress(function (event) {
        if (event.which == 13) {
            $("#searchButtonOCTE").click();
        }
    });

    $("#searchInfo").keypress(function (event) {
        if (event.which == 13) {
            $("#searchButtonFA").click();
        }
    });

    $("#sLastName").keypress(function (event) {
        if (event.which == 13) {
            $("#searchButtonLastName").click();
        }
    });

    function filterDist() {
        return {
            Oano: $("#SendingDist").val()
        };
    }

    function filterFiscal() {
        return {
            CEPD: $("#OCTECEPDUserSelect").val()
        };
    }

    function filterBuilding() {
        return {
            FANO: $("#OCTEFiscalDropDownList").val()
        };
    }

    function displayLoading(target) {
        var element = $(target);
        kendo.ui.progress(element, true);
        setTimeout(function () {
            kendo.ui.progress(element, false);
        }, 2000);
    }

    function SetGridData(OCTEBuilding, FABuliding, OCTES, FAS, Left) {
        OCTEBuildingNo = OCTEBuilding;
        FABuildingNo = FABuliding;
        OCTESearch = OCTES;
        FASearch = FAS;
        LeftSchool = Left;

    }

    function FAbtnClear() {
        //$('#sLastName').val('');
        $('#searchInfo').val('');
        $("#FABuildingList").val("").data("kendoDropDownList").text("");
        //displayLoading("#GridContainer");
        //$('#StudentGrid').data('kendoGrid').dataSource.read();
    }

    function OCTEbtnClear() {
        $('#sUICOCTE').val('');
        $("#OCTEBuildingDropDownList").val("").data("kendoDropDownList").text("");
        //displayLoading("#GridContainer");
       // $('#StudentGrid').data('kendoGrid').dataSource.read();
    }

    function btnAdvanceSearchClick() {

        SetGridData(null, null, $('#sUICOCTE').val(), null, null);
        var ddl = $("#OCTEBuildingDropDownList").data("kendoDropDownList");
        ddl.value("-1");

        $('#StudentGrid').data('kendoGrid').dataSource.read();
    }

    function btnAdvanceSearchClickFA() {

        var ddl = $("#FABuildingList").data("kendoDropDownList");
        ddl.value("-1");
        SetGridData(null, null, null, $('#searchInfo').val(), null);
        //displayLoading("#GridContainer");
        $('#StudentGrid').data('kendoGrid').dataSource.read();

    }

    function FABuilding_Select(e) {
        SetGridData(null, $("#FABuildingList").data("kendoDropDownList").value(), null, null, $('#LeftSchool').is(':checked'));
        $('#searchInfo').val('');
        //displayLoading("#GridContainer");
        $('#StudentGrid').data('kendoGrid').dataSource.read();

        //if ($('#LeftSchool').is(':checked') == true) {
        //    var grid = $("#StudentGrid").data("kendoGrid");
        //    grid.showColumn(8);
        //} else {
        //    var grid = $("#StudentGrid").data("kendoGrid");
        //    grid.hideColumn(8);
        //}
    }

    function OCTEDropDownList_select(e) {
        SetGridData($("#OCTEBuildingDropDownList").data("kendoDropDownList").value(),null, null, null, null);
        $('#sUICOCTE').val('');
         //displayLoading("#GridContainer");
         $('#StudentGrid').data('kendoGrid').dataSource.read();
    }

    $("#CreateStudentView").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Students/CreateStudentView",
            dataType: 'html',
            success: function (data) {
                $('#UpdateStudentTab').hide();
                $('#UpdateStudentTab').html(null);

                $('#CreateStudentTab').show();
                $('#CreateStudentTab').html(data);
                $('#Tabs a[href="#menu1"]').show();
                $('#Tabs a[href="#menu1"]').tab('show');


            },
        });
    });

    function updateStudent(e) {
        //e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $.ajax({
            url: "/Students/CreateStudentView",
            data: { StudentUIC: dataItem.StudentUIC },
            dataType: 'html',
            success: function (data) {
                $('#Tabs a[href="#menu1"]').hide();
                $('#Tabs a[href="#menu2"]').show();
                $('#CreateStudentTab').hide();
                $('#CreateStudentTab').html(null);
                $('#Tabs a[href="#menu2"]').tab('show');
                $('#UpdateStudentTab').show();
                $('#UpdateStudentTab').html(data);

                $('#StudentGrid').data('kendoGrid').dataSource.read();
                selectRow(dataItem.StudentUIC);

            },
        });

    }

    function selectRow(ea) {
        var grid = $('#StudentGrid').data('kendoGrid');
        grid.bind('dataBound', function (e) {
            $.each(grid.tbody.find('tr'), function () {
                $('tr').removeClass('k-state-selected');
            });
            $.each(grid.tbody.find('tr'), function () {
                var model = grid.dataItem(this);
                if (model.StudentUIC == ea) {//some condition
                    $('[data-uid=' + model.uid + ']').addClass('k-state-selected');
                }
            });
        });
    }
</script>