﻿@model CteisCore.Bl.ViewModels.CteisViewModels.vmStudent
@{
    ViewData["Title"] = "Student Information";
}

@if(Model.StudentUIC != null)
{
    <div class="col-md-12">
        <div class="pull-left">
            <br />
            <div>
                @*<input id="PreviousStudent" type="submit" value="Previous Student" class="fa fa-arrow-left text-center" />*@
                <i id="PreviousStudent" class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
        </div>
        <div class="pull-right">
            <br />
            <div>
                @*<input id="NextStudent" type="submit" value="Next Student" class="btn btn-info text-center" />*@
                <i id="NextStudent" class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>

}

    <form id="StudentForm" data-ajax="true" data-ajax-method="POST" class="form-horizontal">
        <div class="col-md-12">
            <div>
                @if (Model.StudentUIC != null)
                {
                    <div class="col-md-6">
                        <h4>First Name: <span style="color:red">*</span> </h4><input asp-for="FirstName" maxlength="100" class="form-control ReadOnly" />
                        <h4>Last Name: <span style="color:red">*</span></h4><input asp-for="LastName" maxlength="100" class="form-control ReadOnly" />
                        <h4>MI:</h4><input asp-for="MiddleInital" maxlength="1" class="form-control ReadOnly" />
                    </div>
                    <div class="col-md-6">
                        <h4>UIC: <span style="color:red">*</span></h4><input asp-for="StudentUIC" disabled maxlength="10" class="form-control ReadOnly" />
                        <input asp-for="StudentUIC" hidden />
                        <h4>Date of Birth <span style="color:red">*</span></h4>
                        @(Html.Kendo().DatePicker()
                    .Name("datetimepicker")
                    .Value(Model.DateOfBirth)
                    .HtmlAttributes(new { style = "width: 100%", title = "datepicker" }))
                        <div>
                            <h4>Gender <span style="color:red">*</span></h4>
                            @if (Model.Gender == "M")
                            {
                                @(Html.Kendo().DropDownList()
                            .Name("RoleFilter")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = " ",
                                    Value = "0"
                                },
                                new SelectListItem() {
                                    Text = "Male",
                                    Value = "M"
                                },
                                new SelectListItem() {
                                    Text = "Female",
                                    Value = "F"
                                }
                            })
                            .Value("M")
                            .HtmlAttributes(new { style = "width: 100%" }))

                            }
                            else if (Model.Gender == "F")
                            {
                                @(Html.Kendo().DropDownList()
                                .Name("RoleFilter")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                //.Events(e => e.Change("change"))
                                .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() {
                                        Text = " ",
                                        Value = "0"
                                    },
                                    new SelectListItem() {
                                        Text = "Male",
                                        Value = "M"
                                    },
                                    new SelectListItem() {
                                        Text = "Female",
                                        Value = "F"
                                    }
                                })
                                .Value("F")
                                .HtmlAttributes(new { style = "width: 100%" }))

                            }
                            else
                            {
                                @(Html.Kendo().DropDownList()
                                .Name("RoleFilter")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                //.Events(e => e.Change("change"))
                                .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() {
                                        Text = " ",
                                        Value = "0"
                                    },
                                    new SelectListItem() {
                                        Text = "Male",
                                        Value = "M"
                                    },
                                    new SelectListItem() {
                                        Text = "Female",
                                        Value = "F"
                                    }
                                })
                                .Value("0")
                                .HtmlAttributes(new { style = "width: 100%" }))
                            }
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div style="background-color:#eaf4fd;">
                                <h3>MSDS Status</h3>
                                <h4>UIC Status: @Model.UICStatus</h4>
                                <h4>UIC Status Date: @Model.UICStatusDate</h4>
                                <h4>MSDS Last Updated: @Model.MSDSLastUpdated</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input id="UpdateStudent" type="submit" value="Update Student" class="btn btn-success text-center" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <h4>First Name: <span style="color:red">*</span></h4><input asp-for="FirstName" maxlength="100" class="form-control ReadOnly" />
                        <h4>Last Name: <span style="color:red">*</span></h4><input asp-for="LastName" maxlength="100" class="form-control ReadOnly" />
                        <h4>MI:</h4><input asp-for="MiddleInital" maxlength="1" class="form-control ReadOnly" />
                    </div>
                    <div class="col-md-6">
                        <h4>UIC: <span style="color:red">*</span></h4><input id="UICInput" type="number" asp-for="StudentUIC" maxlength="10" class="form-control ReadOnly" />
                        <h4>Date of Birth <span style="color:red">*</span></h4>
                        @(Html.Kendo().DatePicker()
                        .Name("datetimepicker")
                        .Value(DateTime.Now)
                        .HtmlAttributes(new { style = "width: 100%", title = "datepicker" }))
                        <div>
                            <h4>Gender <span style="color:red">*</span></h4>
                            @(Html.Kendo().DropDownList()
                            .Name("RoleFilter")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            //.Events(e => e.Change("change"))
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = " ",
                                    Value = "0"
                                },
                                new SelectListItem() {
                                    Text = "Male",
                                    Value = "M"
                                },
                                new SelectListItem() {
                                    Text = "Female",
                                    Value = "F"
                                }
                            })
                            .Value("0")
                            .HtmlAttributes(new { style = "width: 100%" }))
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div style="background-color:#eaf4fd;">
                                <h3>MSDS Status</h3>
                                <h4>UIC Status: </h4>
                                <h4>UIC Status Date: </h4>
                                <h4>MSDS Last Updated: </h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input id="CreateStudent" type="submit" value="Create Student" class="btn btn-success text-center" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div>

            @if (Model.StudentUIC != null)
            {
                <ul id="Tabs" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#createStudent1">Student Demographics</a></li>
                    <li id="ProgarmDetails"><a data-toggle="tab" class="nav_link" data_id="2" href="#createStudent2">Program Details</a></li>
                    <li><a data-toggle="tab" class="nav_link" data_id="3" hidden href="#createStudent3">Current Enrollment</a></li>
                </ul>
            }
            else
            {
                <ul id="Tabs" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#createStudent1">Student Demographics</a></li>
                </ul>
            }

            <div class="tab-content">
                <div id="createStudent1" class="tab-pane fade in active">
                    @if (Model.StudentUIC != null)
                {
                        <div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <h4>Address1: </h4><input asp-for="Address1" maxlength="100" class="form-control ReadOnly" />
                                    <h4>Address2: </h4><input asp-for="Address2" maxlength="50" class="form-control ReadOnly" />
                                    <h4>City: </h4><input type="text" asp-for="City" maxlength="50" class="form-control ReadOnly" />
                                    <h4>State: </h4><input asp-for="State" maxlength="1" disabled placeholder="MI" class="form-control ReadOnly" />
                                    <h4>ZipCode: </h4><input type="number" asp-for="ZipCode" maxlength="10" class="form-control ReadOnly" />
                                </div>
                                <div class="col-md-6">
                                    <h4>Phone1: </h4><input id="phone" asp-for="Phone1" maxlength="50" class="form-control ReadOnly" />
                                    <h4>Phone2: </h4><input id="phone2" asp-for="Phone2" maxlength="50" class="form-control ReadOnly" />
                                    <h4>E-Mail: </h4><input type="email" asp-for="Email" maxlength="100" placeholder="Enter@Email.com" class="form-control ReadOnly" />
                                    <div>
                                        <h4>Sending District <span style="color:red">*</span></h4>
                                        @(Html.Kendo().DropDownList()
                                        .Name("SendingDist")
                                        .HtmlAttributes(new { style = "width:100%" })
                                        .OptionLabel("Sending District...")
                                        .DataTextField("DistrictName")
                                        .DataValueField("Oano")
                                        //.Events(e => e
                                        //.Select("CEPDSelectList"))
                                        .Value(Model.SendingDistrict)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetSendingFiscalList", "Students");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%" }))
                                    </div>
                                    <div>
                                        <h4>Sending Facility <span style="color:red">*</span></h4>
                                        @if(User.IsInRole("CTEISReadOnly") || (User.IsInRole("OCTPReadOnly")))
                                        {
                                            @(Html.Kendo().DropDownList()
                                             .Name("SendingFac")
                                             .HtmlAttributes(new { style = "width:100%" })
                                             .OptionLabel("Sending Facility...")
                                             .DataTextField("BuildingName")
                                             .DataValueField("BuildingNumber")
                                             //.Events(e => e
                                             //.Select("FiscalDropDownList2_select"))
                                             .DataSource(source =>
                                             {
                                                 source.Read(read =>
                                                 {
                                                     read.Action("GetSendingFac", "Students")
                                                         .Data("filterDist");
                                                 })
                                                 .ServerFiltering(true);
                                             })
                                             .Value(Model.SendingFacility)
                                            .Enable(false)
                                            //.AutoBind(false)
                                            /*.CascadeFrom("SendingDist")*/)

                                        }
                                        else
                                        {
                                            @(Html.Kendo().DropDownList()
                                             .Name("SendingFac")
                                             .HtmlAttributes(new { style = "width:100%" })
                                             .OptionLabel("Sending Facility...")
                                             .DataTextField("BuildingName")
                                             .DataValueField("BuildingNumber")
                                             //.Events(e => e
                                             //.Select("FiscalDropDownList2_select"))
                                             .DataSource(source =>
                                             {
                                                 source.Read(read =>
                                                 {
                                                     read.Action("GetSendingFac", "Students")
                                                         .Data("filterDist");
                                                 })
                                                 .ServerFiltering(true);
                                             })
                                             .Value(Model.SendingFacility)
                                            .CascadeFrom("SendingDist")
                                            .HtmlAttributes(new { style = "width: 100%" }))
                                        }
                                    </div>
                                </div>
                                    <div style="padding-top:2em;" class="col-md-12">
                                        <div style="background-color:#eaf4fd;" class="col-md-12">
                                            <div class="col-md-6">
                                                <h4>Grade: @Model.Grade</h4>
                                                <h4>Race/Ethnic: @Model.RaceEthnic</h4>
                                                @if (Model.Migrant != null && Model.Migrant == true)
                                                {
                                                    <h4>Migrant: Yes</h4>
                                                }
                                                else
                                                {
                                                    <h4>Migrant: No</h4>
                                                }
                                                <h4>Exit Status: @Model.ExitStatus</h4>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Special Populations:</h3>
                                                @if (User.IsInRole("CTEISEconDis"))
                                                {
                                                    <h4>Economically Disadvantaged: @Model.EconDisadvanged</h4>
                                                }
                                                @if (Model.LEP == true && Model.LEP != null)
                                                {
                                                    <h4>Lep: Yes</h4>
                                                }
                                                else
                                                {
                                                    <h4>Lep: No</h4>
                                                }
                                                @if(Model.Disabled != null)
                                                {
                                                    <h4>Disabled: @Model.Disabled</h4>

                                                }
                                                else
                                                {
                                                    <h4>Disabled: </h4>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                    @if (Model.SingleParent == true)
                                    {

                                        @(Html.Kendo().CheckBox().Name("SingleParent").Checked(true).Label("SingleParent"))
                                    }
                                    else
                                    {
                                        @(Html.Kendo().CheckBox().Name("SingleParent").Label("SingleParent"))
                                    }
                                </div>
                                <div class="col-md-6">
                                    @if (Model.DisplacedHomemaker == true)
                                    {
                                        @(Html.Kendo().CheckBox().Name("DisplacedHomemaker").Checked(true).Label("Displaced Homemaker"))
                                    }
                                    else
                                    {
                                        @(Html.Kendo().CheckBox().Name("DisplacedHomemaker").Label("Displaced Homemaker"))
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <h4>Address1: </h4><input asp-for="Address1" maxlength="100" class="form-control ReadOnly" />
                                    <h4>Address2: </h4><input asp-for="Address2" maxlength="50" class="form-control ReadOnly" />
                                    <h4>City: </h4><input asp-for="City" maxlength="50" class="form-control ReadOnly" />
                                    <h4>State: </h4><input asp-for="State" maxlength="2" disabled placeholder="MI" class="form-control ReadOnly" />
                                    <h4>ZipCode: </h4><input type="number" asp-for="ZipCode" maxlength="10" class="form-control ReadOnly" />
                                </div>
                                <div class="col-md-6">
                                    <h4>Phone1: </h4><input id="phone" asp-for="Phone1" maxlength="50" class="form-control ReadOnly" />
                                    <h4>Phone2: </h4><input id="phone2" asp-for="Phone2" maxlength="50" class="form-control ReadOnly" />
                                    <h4>E-Mail: </h4><input type="email" asp-for="Email" maxlength="100" placeholder="Enter@Email.com" class="form-control ReadOnly" />
                                    <div>
                                        <h4>Sending District <span style="color:red">*</span></h4>
                                        @(Html.Kendo().DropDownList()
                                            .Name("SendingDist")
                                            .HtmlAttributes(new { style = "width:100%" })
                                            .OptionLabel("Sending District...")
                                            .DataTextField("DistrictName")
                                            .DataValueField("Oano")
                                            .Value(" ")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetSendingFiscalList", "Students");
                                            });
                                        }))
                                    </div>
                                    <div>
                                        <h4>Sending Facility <span style="color:red">*</span></h4>
                                        @(Html.Kendo().DropDownList()
                                                .Name("SendingFac")
                                                .HtmlAttributes(new { style = "width:100%" })
                                                .OptionLabel("Sending Facility...")
                                                .DataTextField("BuildingName")
                                                .DataValueField("BuildingNumber")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetSendingFac", "Students")
                                                            .Data("filterDist");
                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .AutoBind(false)
                                                .CascadeFrom("SendingDist"))
                                    </div>
                                </div>
                                    <div style="padding-top:2em;" class="col-md-12">
                                        <div style="background-color:#eaf4fd;" class="col-md-12">
                                            <div class="col-md-6">
                                                <h4>Grade:</h4>
                                                <h4>Race/Ethnic:</h4>
                                                <h4>Migrant:</h4>
                                                <h4>Exit Status:</h4>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Special Populations:</h3>
                                                @if (User.IsInRole("CTEISEconDis"))
                                                {
                                                    <h4>Economically Disadvantaged:</h4>
                                                }
                                                <h4>Lep:</h4>
                                                <h4>Disabled:</h4>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                    @(Html.Kendo().CheckBox().Name("SingleParent").Label("SingleParent"))
                                </div>
                                <div class="col-md-6">
                                    @(Html.Kendo().CheckBox().Name("DisplacedHomemaker").Label("Displaced Homemaker"))
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="createStudent2" class="tab-pane fade">
                    <div class="panel-body">
                        <div id="ProgramEnrollments"></div>
                    </div>
                </div>
                <div id="createStudent3" class="tab-pane fade">

                </div>
            </div>
        </div>
    </form>


@if (User.IsInRole("CTEISReadOnly") || (User.IsInRole("OCTPReadOnly")))
    {
    <script>
        $(".ReadOnly").each(function () {
            //$(this).replaceWith("<span id='" + $(this).attr("id") + "' class='ReadOnly'>" + $(this).val() + "</span>");
            $(this).prop('disabled', true);
        });

        var Distdropdownlist = $("#SendingDist").data("kendoDropDownList")
        Distdropdownlist.enable(false);

        var dropdownlist = $("#RoleFilter").data("kendoDropDownList")
        dropdownlist.enable(false);

        var datepicker = $("#datetimepicker").data("kendoDatePicker")
        datepicker.enable(false);

        $('#SingleParent').prop('disabled', true);
        $('#DisplacedHomemaker').prop('disabled', true);
        $("#UpdateStudent").hide();

        var Facdropdownlist = $("#SendingFac").data("kendoDropDownList")
        Facdropdownlist.enable(false);
    </script>
    }


<script>
    $(function () {
        $("#phone").mask("(999) 999-9999");
        $("#phone2").mask("(999) 999-9999");



    });

    $("#ProgarmDetails").on("click", function () {
        $.ajax({
            url: "/Students/CreateProgramEnrollmentView",
            data: { StudentUIC: "@Model.StudentUIC" },
            dataType: 'html',
            success: function (data) {
                $('#ProgramEnrollments').html(data);
            },
        });

    });

    $("#CreateStudent").click(function (e) {

        e.preventDefault();
        var myform = document.getElementById("StudentForm");
        var fd = new FormData(myform);

        $.ajax({
            url: "/Students/CreateStudent",
            data: fd,
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                $('#vailmessage').html(data);
                $('#mainModal').modal('show');

                setTimeout(function () {
                    $('#mainModal').modal('hide')
                }, 3000);

                selectRow($('#UICInput').val())
            }

        });
    });


    $("#UpdateStudent").click(function (e) {

        e.preventDefault();
        var myform = document.getElementById("StudentForm");
        var fd = new FormData(myform);

        $.ajax({
            url: "/Students/UpdateStudent",
            data: fd,
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                $('#vailmessage').html(data);
                $('#mainModal').modal('show');

                $.ajax({
                    url: "/Students/CreateStudentView",
                    data: { StudentUIC: "@Model.StudentUIC" },
                    dataType: 'html',
                    success: function (data)
                    {
                        $('#UpdateStudentTab').html(data);
                        $('#StudentGrid').data('kendoGrid').dataSource.read();
                    },
                });

                setTimeout(function () {
                    $('#mainModal').modal('hide')
                }, 3000);

                selectRow("@Model.StudentUIC")
            }

        });
    });


    $("#NextStudent").click(function (e) {
        e.preventDefault();

        var grid = $("#StudentGrid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        var selected = grid.select();
        if (selected.length > 0) {
            var currentItem = grid.dataItem(selected);
            var selectedIdx = $(selected).closest("tr").index();
            var nextIdx = selectedIdx + 1;
            var nextRow = grid.tbody.find("tr:eq(" + nextIdx + ")")
            var nextItem = grid.dataItem(nextRow);

            if (nextItem != null) {
                //alert(nextItem.StudentUIC);

                //selectRow(nextItem.StudentUIC);

                var grid = $('#StudentGrid').data('kendoGrid');
                grid.bind('dataBound', function (e) {
                    $.each(grid.tbody.find('tr'), function () {
                        $('tr').removeClass('k-state-selected');
                    });
                    $.each(grid.tbody.find('tr'), function () {
                        var model = grid.dataItem(this);
                        if (model.StudentUIC == nextItem.StudentUIC) {//some condition
                            $('[data-uid=' + model.uid + ']').addClass('k-state-selected');
                        }
                    });
                });

                $.ajax({
                    url: "/Students/CreateStudentView",
                    data: { StudentUIC: nextItem.StudentUIC },
                    dataType: 'html',
                    success: function (data) {

                        $('#UpdateStudentTab').html(data);
                        $('#StudentGrid').data('kendoGrid').dataSource.read();

                    },
                });

                $('#StudentGrid').data('kendoGrid').dataSource.read();

            }
        }

    });

    $("#PreviousStudent").click(function (e) {
        e.preventDefault();

        var grid = $("#StudentGrid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        var selected = grid.select();
        if (selected.length > 0) {
            var currentItem = grid.dataItem(selected);
            var selectedIdx = $(selected).closest("tr").index();
            var nextIdx = selectedIdx - 1;
            var nextRow = grid.tbody.find("tr:eq(" + nextIdx + ")")
            var nextItem = grid.dataItem(nextRow);

            if (nextItem != null) {
                //alert(nextItem.StudentUIC);

                //selectRow(nextItem.StudentUIC);

                var grid = $('#StudentGrid').data('kendoGrid');
                grid.bind('dataBound', function (e) {
                    $.each(grid.tbody.find('tr'), function () {
                        $('tr').removeClass('k-state-selected');
                    });
                    $.each(grid.tbody.find('tr'), function () {
                        var model = grid.dataItem(this);
                        if (model.StudentUIC == nextItem.StudentUIC) {//some condition
                            $('[data-uid=' + model.uid + ']').addClass('k-state-selected');
                        }
                    });
                });

                $.ajax({
                    url: "/Students/CreateStudentView",
                    data: { StudentUIC: nextItem.StudentUIC },
                    dataType: 'html',
                    success: function (data) {

                        $('#UpdateStudentTab').html(data);
                        $('#StudentGrid').data('kendoGrid').dataSource.read();

                    },
                });

                $('#StudentGrid').data('kendoGrid').dataSource.read();

            }
        }

    });

</script>