﻿@using Microsoft.AspNetCore.Identity
@using CteisCoreApp.Models
@using CteisCoreApp.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                @*<a class="btn btn-success" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <a class="btn btn-success" asp-controller="Manage" asp-action="Index" title="Manage">!</a>
            </li>*@
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello @User.GetFirstName()!<span class="caret"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-md-12">
                        <ul>
                            <li class="dropdown-header">@User.GetFirstName() @User.GetLastName()</li>
                            <li><a asp-controller="Manage" asp-action="Index" title="Manage">Manage Profile</a></li>
                            <li><button type="submit" class="btn btn-danger">Log off</button></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@
        @*<li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>*@
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
    </ul>
}
