﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

    <div class="loginmodal-container">
        <div>
            <h1>Login to Your Account</h1><br>
            <section>
                @Html.ValidationSummary()
                <form id="LoginForm" asp-controller="Account" asp-action="Login" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#LoginForm" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div>
                        <input asp-for="UserName" class="form-control" placeholder="MEIS User Name" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <br />
                    <div id="content"></div>
                    <div>
                        <button type="submit" class="btn btn-success">Log in</button>
                    </div>
                </form>
                <br />
                <div class="login-help">
                    <a href="#">Forgot Password?</a>
                </div>
            </section>
        </div>
    </div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
